<div class="calendar">
  <div class="calendar__header week">
    <span class="day day_header">Пн</span>
    <span class="day day_header">Вт</span>
    <span class="day day_header">Ср</span>
    <span class="day day_header">Чт</span>
    <span class="day day_header">Пт</span>
    <span class="day day_header">Сб</span>
    <span class="day day_header">Вс</span>
  </div>
  <div class="calendar__table">
    <pre style="position:fixed;top:0;left:50%;line-height:1;margin:0;padding:0.4em;background:#f3f9dc;">{{calendarData.month}}</pre>
    <div class="month">
      <div class="week">
        <div class="day"><span class="day__date">1</span></div>
        <div class="day"><span class="day__date">2</span></div>
        <div class="day"><span class="day__date">3</span></div>
        <div class="day">
          <span class="day__date">4</span>
          <span class="event">Сходить в магазин или пообедать дома</span>
          <span class="event event_more">Еще 3 ...</span>
          <span class="event">Проснуться</span>
          <span class="event">Собеседование</span>
          <span class="event">Ужин в кафешке</span>
        </div>
        <div class="day day_current day_opened">
          <span class="day__date">5</span>
          <span class="event">Проснуться</span>
          <span class="event">Собеседование</span>
        </div>
        <div class="day day_weekend"><span class="day__date">6</span></div>
        <div class="day day_weekend"><span class="day__date">7</span></div>
        <div class="day-description">
          <ul class="event-list">
            <li class="event-list__item">
              <span class="event">Сходить в магазин или пообедать дома</span>
            </li>
            <li class="event-list__item">
              <span class="event">Проснуться</span>
            </li>
            <li class="event-list__item">
              <span class="event">Собеседование</span>
            </li>
            <li class="event-list__item">
              <span class="event">Ужин в кафешке</span>
            </li>
            <li class="event-list__item">
              <span class="event">Сходить в магазин или пообедать дома</span>
            </li>
            <li class="event-list__item">
              <span class="event">Проснуться</span>
            </li>
            <li class="event-list__item">
              <span class="event">Собеседование</span>
            </li>
            <li class="event-list__item">
              <span class="event">Ужин в кафешке</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="week">
        <div class="day"><span class="day__date">8</span></div>
        <div class="day"><span class="day__date">9</span></div>
        <div class="day"><span class="day__date">10</span></div>
        <div class="day"><span class="day__date">11</span></div>
        <div class="day"><span class="day__date">12</span></div>
        <div class="day day_weekend"><span class="day__date">13</span></div>
        <div class="day day_weekend"><span class="day__date">14</span></div>
      </div>
      <div class="week">
        <div class="day"><span class="day__date">15</span></div>
        <div class="day"><span class="day__date">16</span></div>
        <div class="day"><span class="day__date">17</span></div>
        <div class="day"><span class="day__date">18</span></div>
        <div class="day"><span class="day__date">19</span></div>
        <div class="day day_weekend"><span class="day__date">20</span></div>
        <div class="day day_weekend"><span class="day__date">21</span></div>
      </div>
      <div class="week">
        <div class="day"><span class="day__date">22</span></div>
        <div class="day"><span class="day__date">23</span></div>
        <div class="day"><span class="day__date">24</span></div>
        <div class="day"><span class="day__date">25</span></div>
        <div class="day"><span class="day__date">26</span></div>
        <div class="day day_weekend"><span class="day__date">27</span></div>
        <div class="day day_weekend"><span class="day__date">28</span></div>
      </div>
      <div class="week">
        <div class="day"><span class="day__date">29</span></div>
        <div class="day"><span class="day__date">30</span></div>
        <div class="day"><span class="day__date">31</span></div>
        <div class="day day_otherMonth"><span class="day__date">1</span></div>
        <div class="day day_otherMonth"><span class="day__date">2</span></div>
        <div class="day day_weekend day_otherMonth"><span class="day__date">3</span></div>
        <div class="day day_weekend day_otherMonth"><span class="day__date">4</span></div>
      </div>
    </div>
  </div>
</div>
