@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 10px;
  line-height: 1.4;
}

body {
  position: relative;
}

app-root {
  display: flex;
  height: 100%;
  flex: 1 1 100%;
  flex-wrap: wrap;
  background: #eee;
}

b {
  font-weight: 300;
}

.loading {
  //overflow: hidden;
  position: relative;
  display: flex !important;
  border-radius: 8px;
  flex: 0 0 auto;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  margin: auto;
  padding-bottom: 0.5em;
  background: #fff;
  font-size: 1.2rem;
  text-align: center;
  &::before {
    display: flex;
    border-radius: 8px 8px 0 0;
    flex: 1 1 100%;
    align-self: flex-start;
    height: 2rem;
    background: #ff3737;
    content: "";
  }
  &::after {
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    height: 0.5rem;
    color: #eeeeee;
    border-left: 2px solid;
    border-right: 2px solid;
    content: "";
  }
}

.button {
  display: inline-block;
  border: 1px solid #bababa;
  border-radius: 4px;
  margin: 0;
  padding: 0.1em 0.5em;
  background-color: #fff;
  background: linear-gradient(to bottom, #fff 0%,#e5e5e5 100%);
  text-decoration: none;
  font: inherit;
  font-size: 1.2rem;
  outline: none;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to bottom, #fefefe 0%,#c5c5c5 100%);
  }
  &:active {
    background: linear-gradient(to bottom, #e5e5e5 0%,#fff 100%);
  }
}
